/* styles.css */

* {
	font-family: Arial;
}
.backgroundImage {
	background-image: url(../img/wrench.png);
	width: 400px;
	height: 400px;
	margin: 64px auto;
}

.backgroundimage:hover {
	background-image: url(../img/clock.png);
	cursor: crosshair;
}